.dock_container
    position: absolute
    bottom: -100px
    background-color: #c7cce5e8
    border-radius: 20px
    padding: 12px
    margin-bottom: 5px
    z-index: 300
    .dock_programme
        display: flex
        .content_item
            transform: scale(0.9)
            margin: 0px 10px
            width: 100%
            height: 100%
            position: relative
            cursor: pointer
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            z-index: 11
            .content_tooltip
                display: none
            .content_name
                display: none
                white-space: nowrap
            .content_icon
                width: 55px
                height: 55px
                &.typescript_icon
                    color: #007acc
                &.javascript_icon
                    color: #323330
                &.blender_icon
                    color: #EA7600
                &.discord_icon
                    color: #5865F2
                &.html_icon
                    color: #da5b11
                &.css_icon
                    color: #264de4
                &.react_icon
                    color: #61DBFB
                &.jest_icon
                    color: crimson
                &.tlr_icon
                    color: #e43f39
                &.git_icon
                    color: #F1502F
                &.threedotjs_icon
                    color: black
                &.sass_icon
                    color: #cd6799
                &.mongodb_icon
                    color: #4DB33D
                &.jira_icon
                    color: #247EF5
                &.python_icon
                    color: #dcb32b
                &.npm_icon
                    color: #CC3534
                &.nodedotjs_icon
                    color: #68a063
