@import './partials/_Tab.module'
@import './partials/_Button.module'
@import './partials/_Contents.module'
@import './partials/_Dock.module'

html
    font-family: Arial, Helvetica, sans-serif
body
    margin: 0
    padding: 0
    box-sizing: border-box
    background-color: #222222
    width: 100vw
    height: 100vh
    overflow: hidden
.App
    position: relative
    display: grid
    place-items: center
    min-height: 100vh
    background-image: url('/../src/img/catalina.png')
    background-size: cover
    background-repeat: no-repeat

